# ======================
# VS Code
# ======================
.vscode/

# ======================
# Java compiled files
# ======================
*.class

# ======================
# C/C++ compiled files
# ======================
*.exe
*.o
*.out

# ======================
# Libraries (JARs)
# ======================
lib/

# ======================
# Backup / temp folders
# ======================
backup/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log
